:root {
--color-verde-animal: rgba(59,140,39,1);
--color-marron-animal: rgba(97,50,8,1);
--color-chocolate-animal: rgba(55,41,41,1);
--color-mostaza-animal: rgba(177,149,2,1);
--color-rosa-animal: rgba(228,180,160,1);
--color-gris-animal: rgba(177,166,144,1);
--color-fondo-1-animal: rgba(222,231,238,1);
--color-figura-1-animal: rgba(184,197,208,1);
--color-destaque-animal: rgba(109,119,126,1);
--color-mensaje-ui-animal: rgba(186,218,242,1);
--color-naranja-ui-animal: rgba(255,120,9,1);
--color-verde-ui-animal: rgba(94,194,10,1);
--color-blanco-ui-animal: rgba(255,255,255,1);
--color-rojo-ui-animal: rgba(229,76,76,1);
}

/* ---------------------------------------------- */
/* Color & opacity */


.verde-animal {
  background-color: var(--color-verde-animal);
}
.marron-animal {
  background-color: var(--color-marron-animal);
}
.chocolate-animal {
  background-color: var(--color-chocolate-animal);
}
.mostaza-animal {
  background-color: var(--color-mostaza-animal);
}
.rosa-animal {
  background-color: var(--color-rosa-animal);
}
.gris-animal {
  background-color: var(--color-gris-animal);
}
.fondo-1-animal {
  background-color: var(--color-fondo-1-animal);
}
.figura-1-animal {
  background-color: var(--color-figura-1-animal);
}
.destaque-animal {
  background-color: var(--color-destaque-animal);
}
.naranja-ui-animal {
  background-color: var(--color-naranja-ui-animal);
}
.verde-ui-animal {
  background-color: var(--color-verde-ui-animal);
}
.blanco-ui-animal {
  background-color: var(--color-blanco-ui-animal);
}
.rojo-ui-animal {
  background-color: var(--color-rojo-ui-animal);
}


.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}


/* --------------------------------------------- */
/* Buttons & icons */


.btn-animal{
  width:38px;
  height:38px;
  border-radius: 50px;
  background-color: var(--color-figura-1-animal)
}

.rec-icon{}
.download-btn{}
.share-btn{}
.email-btn{}
.help-btn{}

/* --------------------------------------------- */
/* Corners & special margins */


.corners1{
  border-radius: 15px;
}
.corners-l{
    border-radius: 15px 0 0 15px;
}
.corners-r{
    border-radius: 0 15px 15px 0;
}
#ch1, #ch2, #ch3, #ch4, #ch5, #ch6, #ch7, #ch8{
  margin:3px;
}


/* --------------------------------------------- */
/* Display */


.numero-animal{
  font-size: 1.875em;
}


/* --------------------------------------------- */
/* Extra NexusUI */


.mom_dial {
  width:38px !important;
  height:38px !important;
}
